<ion-view view-title="Air Zgz">
<ion-content class="padding">


<div class="list">
  <label class="item item-input">
    <span class="input-label">Start date</span>
    <input id="startDate" type="date">
  </label>
  <label class="item item-input">
    <span class="input-label">End date</span>
    <input id="endDate" type="date"><br />
</label><br />
  <center><button type="button" class="button button-positive" "id="apply">
          Apply
  </button></center>
</div>


<ion-scroll zooming="false" direction="xy">
<div id="parallel-container" class="parcoords" style="width:100%; height:300px"></div>
</ion-scroll>
</ion-content>
</ion-view>
