<ion-view icon='ion-information-circled' view-title="Acerca de">
<ion-content class="padding">
<div class="list card">

  <div class="item item-avatar">
    <img src="img/zgzVizData.png">
    <h2>Zaragoza VizData</h2>
  </div>

  <div class="item item-body">
    <p>
    Zaragoza VizData es un experimento desarrollado por <a href="https://twitter.com/eduramiba">Eduardo Ramos</a> y <a href="https://twitter.com/eckelon">Jesús Ángel Samitier</a> para el ZaragozAppStore los días 10, 11 y 12 de julio de 2015.
      El propósito de la aplicación es el de mostrar una gran cantidad de datos (provenientes de las APIs abiertas del Ayuntamiento de Zaragoza) en un espacio reducido,
      como es el caso de la pantalla de un móvil.

      El código de la aplicación se encuentra disponible en <a href="https://github.com/eckelon/zgzVizDatApp">GitHub</a>, así como <a href="https://github.com/eckelon/zgzVizData">el de la webapp</a> que hace sus veces de backend.
    </p>
  </div>

</div>
</ion-content>
</ion-view>
